body{
    font-family: 'Lacquer', cursive;
    background-color: black;
    color: white;
}
h1,h2, h4{
    text-align: center;
}
    h1{
        font-size: 4vw;
    }
    h4{
        font-size: 2vw;
    }
    h2{
        font-size: 3vw;
    }

.img{
    display: flex;
    justify-content: center;
    height: 18vw;
    
}
.img1{
    margin: 3vw;
    cursor: pointer;
    transition: all 0.5s;
}
.img1:hover{
    margin: 4vw;
}
.player{
    display: flex;
    justify-content: center;
    height: 9vw;
    font-size: 3vw;
}
.player1{
    margin: 0.7vw 5vw;
align-self: center;
}
#you_score,#comp_score{
    margin: 1vw 6vw 0vw;
}
#comment{
    text-align: center;
    font-size: 1.5vw;
}
#you_score{
    padding-right: 5vw;
}

.win{
    display: none;
}
.reset{
    display: none;
}
.show{
    display: block;
    margin-top: 8vw;
}
.main1{
    display: none;
}